/.llm
/AGENTS.md
/build
/compile_commands.json
/.cache
/src/installer/.playwright-cli
/src/installer/.llm
/src/installer/dist
/example/user_configuration.json
/example/user_credentials.json
/.playwright-mcp
/src/installer/.playwright-mcp
**/*.png
src/installer/*.png
