[Unit]
Description=arch-installer web UI
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/local/bin/bicycle
Environment=PORT=80
Restart=on-failure

[Install]
WantedBy=multi-user.target
