[Unit]
Description=Bicycle daemon
After=network-online.target docker.service
Wants=network-online.target
Requires=docker.service

[Service]
Type=simple
ExecStart=/usr/bin/bicycle daemon
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
